@tailwind base;
@tailwind components;
@tailwind utilities;

.nvs {
    position: relative;
}

.blog-category {
    display: none;
}

.blogs:hover .blog-category {
    display: block !important;
    position: absolute !important;
    top: 24px !important;
    background-color: rgb(248, 248, 248) !important;
    transition: position 1s linear !important;
}

.blog-category li {
    padding: 10px 15px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.blog-category li:hover {
    opacity: 0.7;
}