@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.nvs {
  position: relative;
}

.blog-category,
.profile-category {
  display: none;
}

.blogs:hover .blog-category {
  display: block !important;
  position: absolute !important;
  top: 24px !important;
  background-color: rgb(248, 248, 248) !important;
  transition: position 1s linear !important;
}

.profile:hover .profile-category {
  display: block !important;
  position: absolute !important;
  top: 40px !important;
  background-color: rgb(248, 248, 248) !important;
  transition: position 1s linear !important;
}

.blog-category li {
  padding: 10px 15px;
}

.profile-category li {
  padding: 10px 20px;
}

.textArea:focus-visible {
  outline: none !important;
}
